@font-face 
{
	font-family: 'Gerbil';
	src: url("gerbil.otf") format("opentype");
}

body
{
	font-family: 'Gerbil';
	padding: 0 1%;
	margin: 0;
	background-color: #F8F8F8;
}

header
{
    font-family: 'Gerbil';
    text-align: center;
    font-size: 200%;
    padding: 15px;
}

footer 
{
	justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    color: black;
    text-align: center;
}

.pages
{
    background-color: #F8F8F8;
	text-decoration: none;
	color: black;
	border: solid 12px black;
    border-width: 5px;
    letter-spacing: 1.5px;
    padding: 6px;
    border-radius: 10px;
    font-size: 150%;
}

.page
{
    margin-top: auto;
    font-size: 65%;
    background-color: #F8F8F8;
	text-decoration: none;
	color: black;
	border: solid 4px black;
    letter-spacing: 1.5px;
    border-radius: 6px;
    padding: 4PX;
}

nav
{
    text-align: center;
}

img
{
    align-content: center;
    max-width: 40%;
    padding-top: 10px;
}

@media (max-width: 800px) {
    img{
        max-width: 100%;
    }
  }

.images
{
    text-align: center;
}

p
{
    text-align: center;
}

.blue
{
    color: #0055FF;
    text-align: center;
    align-items: center;
    letter-spacing: 0.5px;
}

.hdp
{
    text-decoration: none;
    color: black;
}

.credit
{
    font-size: 60%;
}

.dates
{
    font-size: 60%;
}

.fuji
{
    text-align: center;
    font-size: 125%;
}

.fuji1
{
    text-decoration: none;
    color: #0055FF;
    letter-spacing: 1.1px;
    line-height: 105%;
}

.about
{
    line-height: 120%;
    word-spacing: 2px;
}

.school
{
    font-size: 200%;
    color: black;
}

.schooldiv
{
    text-align: center;
}

.fleche
{
    font-size: 40%;
    color: black;
}